html{
    font-family: sans-serif;
}

form{
    font-family: sans-serif;
    height: 100%;

    background-color: bisque;
    border: double black;"

    text-align: center;
    padding: 5px;

    border: 5px  solid darkgray;
    margin: 10px auto;
}

fieldset{
    border-radius: 15px;
    height: 300px;
}

legend{
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: x-large;
    color: black;

    padding: 10px 5px 5px;
}

input{
    position: center;
    height: 35px;
    width: 100%;
    margin: auto;
    background-color: #FFFFFF80;

    font-size: x-large;
}

input[type="submit"]{
    /*position: center;*/
    font-size: large;
    width: 180px;
    height: 60px;
    background-color: #d3d3d3d3;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}